__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints/
data/*.csv
data/*.pkl
models/*.pkl
!data/.gitkeep
!models/.gitkeep
.vscode/
.idea/
*.swp
.DS_Store